.nav {
    background-color: #ffffff;
    /* Adjust background color if needed */
    border-bottom: 1px solid #e5e5e5;
    /* Optional: Add border to the bottom */
    height: 60vh;
    border-bottom: none;
    justify-content: center;
    align-items: center;
}