.accordian-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

@media (max-width: 768px) {
    .accordian-container {
        grid-template-columns: repeat(1, 1fr);
    }
}